body{
    background-color: #ffffff;
}

#cart-total {
    display: block;
    text-align: center;
    color: #fff;
    background-color: orangered;
    width: 20px;
    height: 25px;
    border-radius: 50%;
    font-size: 14px;
}